.clearfixul:after {
    width: 0;
    height: 0;
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
body{
    background-color:#F5F5F5;
}

.slide{
    width: 75%;
    float:left;
}

.carousel-inner h3{
    color: #FFFFFF;
    font-weight:900;
}

.carousel-inner>.item>img {
    width: 100%;
    height: 500px;
}

.rank{
    margin-left: 5px;
    margin-top: 0px;
    width: 24%;
    float:left;
    color: #09924B;
}