.navigation{
    padding-left: 200px;
    padding-right: 200px;
    background-color: #286A46;
}

.nav-pills>li>a{
    font-size:22px;
    margin-left: 13px;
    margin-right: 13px;

}

.nav>li>a{
    color: #FFF;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #2e9057;
    color:#FFF;
}