target/
.classpath
.project
.settings/
.springBeans
.metadata/
*.ipr
*.iws
*.iml
.idea/
*.swp
*.swo
*.swn
res.css
*.DS_Store
/target
logs
src/main/profiles/local/log4j.properties
src/main/resources/config.properties
src/main/resources/log4j.properties
src/main/resources/jdbc.properties
.gitignore
